<!-- index.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner_section layout_padding header_section">
   {% comment %} <div id="my_slider" class="carousel slide" data-ride="carousel"> {% endcomment %}
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="banner_taital_main">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="text-light bangla1">ক্লাস নাইন থেকেই আইসিটি সাবজেক্টে ভালো করতে যুক্ত হও সেরা সফটওয়্যার ইঞ্জিনিয়ার ও কম্পিউটার গ্রাফিকস ডিজাইনারদের সাথে 
                         শুধুমাত্র একাডেমিক রেজাল্ট নয়
                         প্রোগ্রামিং ও গ্রাফিকসে তোমার শক্ত ভিত গড়ে উঠবে এদের হাত ধরেই। 
                         এক অভূতপূর্ব জার্নি অপেক্ষা করছে তোমার জন্য, ক্লিক করো এখনই...</h1> 
                          
                         <ul class="mt-3 text-light bangla" style="font-size: 16px">
                            <li><i class="bi bi-arrow-right"></i> অনলাইন ক্লাস</li>
                            <li><i class="bi bi-arrow-right"></i> যাদের ল্যাপটপ/ কম্পিউটার নেই তারাও জানাও।</li>
                            <li><i class="bi bi-arrow-right"></i> তোমার যদি মন প্রোগ্রামিংয়ে ক্যারিয়ার গড়তে উন্মুখ থাকে তবে এটা কোন বাধাই নয়।</li>
                            <li><i class="bi bi-arrow-right"></i> যাদের আর্থিক সংগতি নেই কিন্তু ডিপ বিউটিফুল মাইন্ড আছে তারাও জানাও।</li>
                        </ul>
                        <div class="btn_main">
                           <div class="about_bt bangla2"><a href="{% url "registration_page" %} ">রেজিস্ট্রেশন</a></div>
                           {% comment %} <div class="quote_bt active"><a href="#">Free class</a></div> {% endcomment %}
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% comment %} <div class="carousel-item">
            <div class="container">
               <div class="banner_taital_main">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="banner_taital">Casinal Educations Coachings</h1>
                        <p class="banner_text">Eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="btn_main">
                            <div class="about_bt "><a href="{% url "registration_page" %} ">Registration</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div> {% endcomment %}
       

      </div>
      {% comment %} <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
      <i class="fa fa-arrow-left" style="font-size:24px"></i>
      </a>
      <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
      <i class="fa fa-arrow-right" style="font-size:24px"></i>
      </a> {% endcomment %}
   {% comment %} </div> {% endcomment %}
</div>
<!--banner section end -->
</div>
{% if teachers %}
<h1 class="services_taital bangla2" style="padding-top: 50px; padding-bottom: 40px;">
   <span style="color:rgb(1, 0, 9)">আমাদের </span> শিক্ষকগণ
</h1>
<section id="author-group" class="container">
   <div class="row text-center">
      {% for teacher in teachers %}
      <div class="col-lg-3 col-md-6 mb-4">
         <div class="author-card">
            <img src="{% if teacher.picture %} {{ teacher.picture.url }} {% endif %}" alt="{{ teacher.name }}" class="author-image rounded-circle mb-3">
            <h5 class="bangla1">{{ teacher.name }}</h5>
            <p class="education bangla">{{ teacher.degree }}</p>
            <p class="other-info bangla">{{ teacher.other_info }}</p>
         </div>
      </div>
      {% endfor %}
   </div>
</section>
{% endif %}
{% endblock %}
