<!-- index.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner_section layout_padding header_section">

      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="banner_taital_main">
                  <div class="row">
                     <div class="col-md-6">
                        <h1 class="text-light bangla1 banner_taital"> যুক্ত হও দেশ সেরা সফটওয়্যার ইঞ্জিনিয়ার ও গ্রাফিক্স ডিজাইনাদের সাথে </h1> 
                          
                         <ul class="mt-3 text-light bangla" style="font-size: 16px">
                            <li class="h5"><i class="bi bi-arrow-right"></i> ক্লাস ৯ থেকেই গড়ে তুলো আইসিটি-তে শক্ত ভিত </li>
                        
                        </ul>
                        <div class="btn_main">
                           <div class="about_bt bangla2"><a href="{% url "registration_page" %} ">রেজিস্ট্রেশন</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
       

      </div>

</div>
<!--banner section end -->
</div>



<section class="program-section container">


   <div class="row bangla">
      <div class="text-start">
  
         <p class="h2 bangla1 text-dark"> এ এক দুর্দান্ত জার্নি </p>
         <p >এমন সুযোগ আসলে কোথাও নেই। শুধু একাডেমিক রেজাল্ট ভালো নয়, চাইলে ক্যারিয়ার হিসেবে নিতে পাইথন বা গ্রাফিক্স ডিজাইনের জন্য আছে উন্মুক্ত পথ এবং হাতে কলমে শেখার অভূতপূর্ব সুযোগ</p>
      </div>
       <!-- Card 1 -->
       <div class="col-lg-4 col-md-6">
           <div class="program-box">
               <i class="bi bi-compass-fill text-danger fa-2x mr-3"></i>
               <div class="program-content">
                   <h3>সহজে আইসিটি-তে ভালো করতে চাও?</h3>
                   <p class="pt-1 mt-1 text-justify">আমাদের জার্নি শুরু হবে ক্লাস ৯ থেকে। খুব সাজানো এবং সহজ স্ট্যাডি প্লান পাবে কোর্স শুরুর প্রথম থেকেই। প্রতিটি টপিকের সহজ ব্যাখ্যা। থাকবে নোটস- যা উচ্চতর নম্বর পেতে সহায়তা করবে।</p>
               </div>
           </div>
       </div>

       <!-- Card 2 -->
       <div class="col-lg-4 col-md-6">
           <div class="program-box">
              <i class="bi bi-person-check-fill text-danger fa-2x mr-3"></i>
               <div class="program-content">
                   <h3 >পারসোনালাইজড শিক্ষা কাঠামো</h3>
                   <p class="pt-1 mt-1 text-justify">আমরা জানি, সবাইকে এক পাল্লায় মাপলে শিক্ষার ক্ষেত্রে আসলে পিছিয়ে পড়ে সবাই। এজন্য তোমার বিষয় অনুধাবন ক্ষমতা, প্রয়োগ যোগ্যতা এবং সর্বোপরি তোমার আগ্রহ-এর উপর ভিত্তি করে আমরা ব্যাকএন্ড থেকে সাজাবো শুধু তোমার জন্য শিখন স্ট্র্যাটেজি।</p>
               </div>
           </div>
       </div>

       <!-- Card 3 -->
       <div class="col-lg-4 col-md-6">
           <div class="program-box">
                <i class="bi bi-lightbulb-fill text-danger fa-2x mr-3"></i>
               <div class="program-content">
                   <h3>আমার স্বপ্ন আমি প্রোগ্রামার/ এনিমেটর হব</h3>
                   <p class="pt-1 mt-1 text-justify">আমাদের প্রাথমিক লক্ষ্য হল, তোমার একাডেমিক রেজাল্ট। তোমার শিখন গতি এবং আগ্রহ মূল্যায়ন বিবেচনায় আমরাই তোমাকে স্বাগত জানাবো আমাদের ডিপ মাইন্ড কোর গ্রুপে, যারা স্কুল থেকেই পাইথন প্রোগ্রামিং বা গ্রাফিক্স/ এনিমেশনে স্কিল ডেভেলপ করতে চায়। এসব বিষয়ে ক্যারিয়ার গড়তে তুমি পাবে সিজনড মেন্টরস।</p>
               </div>
           </div>
       </div>

       <!-- Card 4 -->
       <div class="col-lg-6 col-md-6">
           <div class="program-box">
                 <i class="bi bi-laptop-fill text-danger fa-2x mr-3"></i>
               <div class="program-content">
                   <h3>আমার ল্যাপটপ/ কম্পিউটার নেই</h3>
                   <p class="pt-1 mt-1 text-justify">ডিজিটাল ডিভাইড আমাদের আশাহত করে। প্লিজ, আমাদের জানাও। একসাথে, উই উইল ফাইন্ড অউট সামথিং!</p>
               </div>
           </div>
       </div>

       <!-- Card 5 -->
       <div class="col-lg-6 col-md-6">
           <div class="program-box">
                <i class="bi bi-wallet2 text-danger fa-2x mr-3"></i>
               <div class="program-content">
                   <h3>আমার আর্থিক সংগতি তেমন নেই</h3>
                   <p class="pt-1 mt-1 text-justify">আমরা মনে করি না অর্থ কোন কাজকে আটকে রাখতে পারে। তোমার যদি শেখার অদম্য ইচ্ছা থাকে, আমাদের জানাও।</p>
               </div>
           </div>
       </div>

   </div>
</section>


{% if teachers %}
<div class="container">
<h2 class="bangla1 h2 text-dark" style="margin-left: 0px; padding-bottom: 40px;">
  আমাদের শিক্ষকগণ
</h2>
</div>


<section id="author-group" class="container">
   <div class="row text-center">
      {% for teacher in teachers %}
      <div class="col-lg-3 col-md-6 col-12 mb-4">
         <div class="author-card">
            <img src="{% if teacher.picture %} {{ teacher.picture.url }} {% endif %}" alt="{{ teacher.name }}" class="author-image rounded-circle mb-3">
            <h5 class="bangla1">{{ teacher.name }}</h5>
            <p class="education bangla py-0 my-0">{{ teacher.degree }}</p>
            <p class="other-info bangla p-0 m-0">{{ teacher.other_info }}             <a class="border-bottom bangla" href="{% url 'teacher_detail' pk=teacher.id %}" style="color: red; text-decoration: underline;">আরো পড়ুন..</a></p>


         </div>
      </div>
      {% endfor %}
   </div>
</section>
{% endif %} 





   <div class="container mt-4">
       <h2 class="text-center bangla1 mb-3">ক্লাস ৯ আইসিটি (রোড টু প্রোগ্রামিং / এনিমেশন)</h2>
       <table class="table table-bordered table-striped bangla">
           <thead style="background-color: #dc3545;" class="table-danger text-light">
               <tr>
                   <th>সুবিধা</th>
                   <th>প্রয়াস</th>
                   <th>প্রেরণা</th>
                   <th>অগ্রগামী</th>
               </tr>
           </thead>
           <tbody>
               <tr><td>অনলাইন ক্লাস</td><td>হ্যাঁ</td><td>হ্যাঁ</td><td>হ্যাঁ</td></tr>
               <tr><td>ক্লাস সংখ্যা/ মাস</td><td>৮টি</td><td>৮টি</td><td>১২টি</td></tr>
               <tr><td>কোর্স সময়সীমা</td><td>৮ মাস</td><td>৮ মাস</td><td>৮ মাস</td></tr>
               <tr><td>প্রাকটিস সময়সীমা</td><td>৩ মাস</td><td>৩ মাস</td><td>প্রয়োজন অনুসারে</td></tr>
               <tr><td>টিচার-ছাত্র ইন্টার‍্যাকশন</td><td>নরমাল</td><td>উচ্চ</td><td>সর্বোচ্চ</td></tr>
               <tr><td>প্রতি চ্যাপ্টারের সহজ টেক্সট</td><td>না</td><td>হ্যাঁ</td><td>হ্যাঁ</td></tr>
               <tr><td>সাপ্তাহিক এক্সাম</td><td>না</td><td>হ্যাঁ</td><td>হ্যাঁ</td></tr>
               <tr><td>এক্সাম সলুশন</td><td>না</td><td>হ্যাঁ</td><td>হ্যাঁ</td></tr>
               <tr><td>পার্সোনালাইজড শিক্ষা কাঠামো</td><td>না</td><td>হ্যাঁ</td><td>হ্যাঁ</td></tr>
               <tr><td>এনালাইসিস রিপোর্ট</td><td>না</td><td>হ্যাঁ</td><td>হ্যাঁ</td></tr>
               <tr><td>রোড টু প্রোগ্রামিং / এনিমেশন</td><td>না</td><td>হ্যাঁ</td><td>হ্যাঁ</td></tr>
               <tr><td>ডাউট সলভিংয়ে Q & A সেশন</td><td>১ ঘণ্টার মধ্যে</td><td>১৫ মিনিটের মধ্যে</td><td>তৎক্ষণাৎ</td></tr>
               <tr><td>মাসিক ফি</td><td>১,২০০</td><td>৩,০০০</td><td>১০,০০০</td></tr>
               <tr class="" style="background-color: #00008b; color: #ffff!important;"><td class="text-light">সীমিত সময়ের জন্য ৫০% ছাড় চলছে</td><td class="text-light">৬০০</td><td class="text-light">১,৫০০</td><td class="text-light">-</td></tr>
           </tbody>
       </table>
       <div class="text-center mt-3">
         <a class="bangla2" href="{% url "registration_page" %} "><button class="btn btn-danger mb-4">রেজিস্ট্রেশন কর এখনই </button> </a>
 
       </div>
   </div>

{% endblock %}
