{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}        
        <div class="services_section layout_padding" style="padding-bottom: 50px;">
           <div class="container">
            {% comment %} {{form.as_p}} {% endcomment %}
              <h1 class="services_taital bangla2"><span style="color:rgb(1, 1, 0)">রেজিস্ট্রেশন </h1>
                
                <div class="services_section_2">
                  {% if form.errors %}
                  <div class="alert alert-danger">
                      <ul>
                          {% for field, errors in form.errors.items %}
                              <li><strong>{{ field }}</strong>: {{ errors|join:", " }}</li>
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %}
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                  {% endfor %}
              {% endif %}
               <div class="container mt-4 bangla">
                  <form method="post" action="">
                      {% csrf_token %}
                      <div class="row">
                          <!-- First Name -->
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="first_name" class="form-label text-dark">নামের প্রথম অংশ </label>
                                  {{ form.first_name|add_class:"form-control" }}
                              </div>
                          </div>
              
                          <!-- Last Name -->
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="last_name" class="form-label text-dark">নামের শেষ অংশ</label>
                                  {{ form.last_name|add_class:"form-control" }}
                              </div>
                          </div>
              
                          <!-- Father's Name -->
                          {% comment %} <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="fathers_name" class="form-label">Father's Name</label>
                                  {{ form.fathers_name|add_class:"form-control" }}
                              </div>
                          </div>
               {% endcomment %}
                          <!-- Mother's Name -->
                          {% comment %} <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="mothers_name" class="form-label">Mother's Name</label>
                                  {{ form.mothers_name|add_class:"form-control" }}
                              </div>
                          </div> {% endcomment %}
              
                          <!-- Phone Number -->
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="phone_number" class="form-label text-dark">মোবাইল নাম্বার </label>
                                  {{ form.phone_number|add_class:"form-control" }}
                              </div>
                          </div>
              
                          <!-- Email Address -->
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="email_address" class="form-label text-dark">ইমেইল</label>
                                  {{ form.email_address|add_class:"form-control" }}
                              </div>
                          </div>
              
                          <!-- School -->
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="school" class="form-label text-dark">স্কুলের নাম/প্রতিষ্ঠানের নাম</label>
                                  {{ form.school|add_class:"form-control" }}
                              </div>
                          </div>
              
                          <!-- District -->
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="district" class="form-label text-dark">জেলা</label>
                                  {{ form.district|add_class:"form-control" }}
                              </div>
                          </div>
              
                          <!-- Thana -->
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="upazila" class="form-label text-dark">উপজেলা/থানা</label>
                                  {{ form.upazila|add_class:"form-control" }}
                              </div>
                          </div>
              
                          <!-- Upazila -->
                          {% comment %} <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="upazila" class="form-label">Upazila</label>
                                  {{ form.upazila|add_class:"form-control" }}
                              </div>
                          </div>
               {% endcomment %}
                          <!-- Has Computer/Laptop -->
                          <div class="col-md-6">
                           <div class="mb-3 form-check">
                               <!-- Checkbox Field -->
                               {{ form.has_computer_laptop|add_class:"form-check-input custom-checkbox" }}
                               <label for="id_has_computer_laptop" class="form-check-label text-dark">
                                   আমার কম্পিউটার আছে(থাকলে টিক দাও) 
                               </label>
                           </div>
                        </div>
                        <div class="col-md-6">
                         <div class="mb-3 form-check">
                             <!-- Checkbox Field -->
                             {{ form.can_manage_laptop|add_class:"form-check-input custom-checkbox" }}
                             <label for="id_has_computer_laptops" class="form-check-label text-dark">
                                 আমি কম্পিউটার ম্যানেজ করতে পারবো
                             </label>
                         </div>
                         </div>
              
                          <!-- Submit Button -->
                          <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary" style="padding: 12px 24px; font-size: 1.25rem;">সাবমিট</button>
                        </div>
                        
                      </div>
                  </form>
              </div>
              
              </div>
           </div>            
        </div>


        <h1 class="services_taital bangla2"><span style="color:rgb(4, 3, 0)">আমাদের নীতি</span></h1>


        <section class="container py-5 bangla">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <p class="text-muted">আমরা স্বচ্ছতা রক্ষা এবং সেবার সর্বোচ্চ মান বজায় রাখার প্রতিশ্রুতি প্রদান করি।</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mx-auto pb-4">
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item">{% block policy_rule_1 %}আপনার ডেটা নিরাপদভাবে সংরক্ষিত থাকে এবং কখনই শেয়ার করা হয় না।{% endblock %}</li>
                        <li class="list-group-item">{% block policy_rule_2 %}ফিরতি প্রক্রিয়া ৭ কার্যদিবসের মধ্যে সম্পন্ন হয়।{% endblock %}</li>
                        <li class="list-group-item">{% block policy_rule_3 %}সকল সেবার জন্য শর্তাবলী প্রযোজ্য।{% endblock %}</li>
                        <li class="list-group-item">{% block policy_rule_4 %}গ্রাহক সেবা ২৪/৭ উপলব্ধ।{% endblock %}</li>
                    </ol>
                </div>
            </div>
        </section>
        
        
        
                {% comment %} </div> {% endcomment %}
           
        <!-- services section end -->
        <!-- about section start -->


  
{% endblock %}