{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}       
    <body>
        <!-- services section start -->
        <div class="services_section layout_padding" style="padding-bottom: 50px;">
           <div class="container">
              
                <div class="services_section_2">
                  {% if form.errors %}
                  <div class="alert alert-danger">
                      <ul>
                          {% for field, errors in form.errors.items %}
                              <li><strong>{{ field }}</strong>: {{ errors|join:", " }}</li>
                          {% endfor %}
                      </ul>
                  </div>
              {% endif %}
              {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}"> <i class="bi bi-check-circle-fill"> </i> {{ message }}</div>
                  {% endfor %}
              {% endif %}

              <li style="margin-bottom:100px;" class="nav-item pb-4 ">
                <a class="btn btn-primary bangla1" href=" {% url "landing_page" %} ">প্রথম পাতায় ফিরে যান </a>
             </li>
             </div>
             </div>

{% endblock %}